@font-face {
  font-family: 'Montserrat Black';
  src: url('../fonts/Montserrat-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.otf') format('opentype');
}

body {
	color:#424c5c;
}

h1,h2,h3,h4,h5,h5 {
	font-family: 'Montserrat Black';
}

p {
	font-family: 'Montserrat Light';
	font-weight: 100;
}

.navbar-inverse {
	background-color: transparent !important;
	border-bottom: 0px;
	color:white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #89fdef;
    border-radius: 50px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#89FDEF)";/*IE 8*/
-moz-box-shadow: 1px 1px 31px 10px rgba(137,253,239,0.2);/*FF 3.5+*/
-webkit-box-shadow: 1px 1px 31px 10px rgba(137,253,239,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 1px 1px 31px 10px rgba(137,253,239,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#89FDEF); /*IE 5.5-7*/
}

.nav>li>a {
	margin-top:10px;
    position: relative;
    display: block;
    padding: 7px 20px;
}

.image-intro {
	float: right;
	margin-right: 50px;
	width: 370px;
	height: 370px;
	background-image: url("../img/ilustrasibit2.png");
	background-size: 370px;
}

.image-intro1 {
	float: right;
	margin-right: 50px;
	width: 370px;
	height: 370px;
	background-image: url("../img/ilustrasibit.png");
	background-size: 370px;
}

.image-intro2 {
	float: right;
	margin-right: 50px;
	width: 370px;
	height: 370px;
	background-image: url("../img/ilustrasibit3.png");
	background-size: 370px;
}

.header-title {
	width: 280px;
	text-align: center;
	border-bottom: 5px solid #FB88A4;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color:#424c5c;
}

.header-title-what {
	font-size: 5em;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color:#424c5c;
}

.services-features {
	text-align: left;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #38387e;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #262657;
}
#back-to-top.show {
    opacity: 1;
}

@media (max-width: 420px) {

	.image-intro {
	float: right;
	margin-right: 0px;
	width: 250px;
	height: 250px;
	background-image: url("../img/ilustrasibit2.png");
	background-size: 250px;
	}

	.image-intro1 {
	float: right;
	margin-right: 0px;
	width: 250px;
	height: 250px;
	background-image: url("../img/ilustrasibit.png");
	background-size: 250px;
	}

	.image-intro2 {
	float: right;
	margin-right: 0px;
	width: 250px;
	height: 250px;
	background-image: url("../img/ilustrasibit3.png");
	background-size: 250px;
	}

	.header-title-what {
	width: 100$;
	text-align: center;
	font-size: 3em;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color:#424c5c;
	}

	.services-features {
		text-align: center;
	}

}

.btn-light-blue {
	color: #fff;
	border:0px;
	padding: 10px 15px;
    background-color: #89fdef;
    border-radius: 50px;
    font-family: 'Montserrat Bold';
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#89FDEF)";/*IE 8*/
	-moz-box-shadow: 1px 1px 31px 1px rgba(137,253,239,0.2);/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 31px 1px rgba(137,253,239,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 31px 1px rgba(137,253,239,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#89FDEF); /*IE 5.5-7*/
	transition: all .2s ease-out;
}

.btn-light-blue:hover {
	color: #fff;
	border:0px;
	padding: 10px 15px;
    background-color: #89fdef;
    border-radius: 50px;
    margin-top:5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#89FDEF)";/*IE 8*/
	-moz-box-shadow: 1px 1px 36px 11px rgba(137,253,239,0.2);/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 36px 11px rgba(137,253,239,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 36px 11px rgba(137,253,239,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#89FDEF); /*IE 5.5-7*/
}


.btn-light-pink {
	color: #fff;
	border:0px;
    background-color: #FB88A4;
    padding: 10px 15px;
    border-radius: 50px;
    font-family: 'Montserrat Bold';
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#FFA7BC)";/*IE 8*/
	-moz-box-shadow: 1px 1px 31px 6px rgba(255,167,188,0.2);/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 31px 6px rgba(255,167,188,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 31px 6px rgba(255,167,188,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#FFA7BC); /*IE 5.5-7*/
	transition: all .2s ease-out;
}

.btn-light-pink:hover {
	color: #fff;
	border:0px;
	text-decoration: none;
    background-color: #FB88A4;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top:5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#FFA7BC)";/*IE 8*/
	-moz-box-shadow: 1px 1px 36px 11px rgba(255,167,188,0.2);/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 36px 11px rgba(255,167,188,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 36px 11px rgba(255,167,188,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#FFA7BC); /*IE 5.5-7*/
}

.btn-light-orange {
	color: #fff;
	border:0px;
	padding: 10px 15px;
    background-color: #FFCC83;
    border-radius: 50px;
    font-family: 'Montserrat Bold';
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#FFCC83)";/*IE 8*/
	-moz-box-shadow: 1px 1px 31px 1px rgba(255,204,131,0.2);/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 31px 1px rgba(255,204,131,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 31px 1px rgba(255,204,131,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#FFCC83); /*IE 5.5-7*/
	transition: all .2s ease-out;
}

.btn-light-orange:hover {
	color: #fff;
	border:0px;
	padding: 10px 15px;
    background-color: #FFCC83;
    border-radius: 50px;
    margin-top:5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#FFCC83)";/*IE 8*/
	-moz-box-shadow: 1px 1px 36px 11px rgba(255,204,131,0.2);/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 36px 11px rgba(255,204,131,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 36px 11px rgba(255,204,131,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=36, Direction=135, Color=#FFCC83); /*IE 5.5-7*/
}

.text-muted {
	color:#67768d;
}

#ourservices {
	min-height: 450px;
}

#ourteam {
	min-height: 500px;
}

#contact {
	min-height: 420px;
}

#formcontact {
	width: 50%;
	text-align: center;
}

#formcontact input, button, textarea {
	width: 100%;
	margin-top: 10px;
}

.inputcontact {
	border-radius: 50px;
	padding: 10px;
	border:1px solid #38387e;
	outline: none;
}

.header-blog {
	height: 300px;
	background: url("../img/backbit.png");
}